
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

.wrapper {
  
    width: 350px;
}

.wrapper:hover{
        width: 700px;
        
    }

.content:hover >.btn{
        width: 700px;
        border: 2px solid #000;        
    }

.btn {
    width: 200px;
    min-height: 50px;
    border-radius: 10px;
    color: rgb(230, 75, 28);
    text-transform: uppercase;
    margin: 20px 0px 0px 30px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background-color: rgb(130, 196, 216);
    transition-duration: 1.5s;
    
}

.btn:hover{
    width: 450px;
}
.btn__1{
    transition-timing-function: ease;
}
    

.btn__2 {
    transition-timing-function: ease-in;
    
}
.btn__3 {
    transition-timing-function: ease-out;
}
.btn__4 {
    transition-timing-function: ease-in-out;
}
.btn__5 {
    transition-timing-function: linear;
}
.btn__6 {
    transition-timing-function: steps(3, end);
    }

.btn__6:hover{
    font-size: 30px;
}

.btn__7 {
    transition-timing-function: cubic-bezier(0.68, -0.55,0.265, 1.55);

}
